
:root {
  --color-primary : colorPrimary;
  --color-secondary: colorSecondary;
  --color-tertiary: colorTertiary;
  --color-quaternary: colorQuaternary;
  --color-label: colorLabel;

}

.caja-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: auto;
  padding: 2rem;
  background-color: var(--color-terciary) ;
  margin-bottom: 1rem;
}

.caja-login input {
  border: none;
  background-color: var(--color-terciary);
  padding: 0.8rem;
  margin-top: 10px;
  border: 1px solid var(--color-secondary);
}

.caja-login h1 {
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 5rem;
}

.caja-login label {
  color: var(--color-label);
}

.caja-login img {
  width: 40%;
  margin: auto;
}

.logos-colaboradores{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.boton-ingresar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.boton-ingresar button {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border: none;
  border-radius: 0.2rem;
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  cursor: pointer;
  font-weight: 700;
  font-size: 0.9rem;
}

.columna-derecha {
  background-color: var(--color-tertiary);
}

.linea {
  margin-top: 5rem;
  border-top: 1px solid var(--color-secondary);
}

.form-login {
  width: 100%;
}

.registrate-aca {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.discapacidad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  gap: 0rem;
  margin: auto;
}

.discapacidad div {
  width: 50px;
  height: 45px;
  border: 2px solid var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}
