.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: auto;
  padding: 10rem;
  background-color: rgb(255, 255, 255);
}

.formulario input{
    border: none;
    background-color: aliceblue;
    padding: 1rem;
    margin-top: 10px;
}

.formulario label, h1, p{
    color: #209CD4
}

.boton-ingresar {
  display: flex;
  flex-direction: row;
  justify-content: right;

}

.boton-ingresar button {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #f5be0b;
  color: white;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.9rem;
}

.columna-derecha {
  background-color: #f5be0b;
  
}

.line{
    border: none;
    border-top: 1px solid black;
}
